<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cklxl.i18n.locale.mapper.I18nLanguageMapper">
  <resultMap id="BaseResultMap" type="org.cklxl.i18n.locale.model.I18nLanguage">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="locale_code" jdbcType="VARCHAR" property="localeCode" />
    <result column="locale_name" jdbcType="VARCHAR" property="localeName" />
  </resultMap>
</mapper>